#frame {
    margin-left: 10%;
    margin-top: 5%;
    width: 800px;
    height: 800px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: red; 
    border-radius: 10px;
    box-shadow: -5px 5px 10px grey;
}

#screen {
    display: flex;
    background-color: #fff;
    flex-wrap: wrap;
    width: 90%;
    height: 80%;
    margin-top: 1%;
    border-radius: 5px;
    box-shadow: inset -5px 5px 5px grey;
}



#knob-container {
    margin-bottom: 1%;
    width: 70%;
    height: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: red;
}

.knob {
    width: 10%;
    height: 70%;
    border-radius: 50%;
    background-color: #dddddd; 
    box-shadow: -2px 2px 2px grey;
}

button {
    background: linear-gradient(45deg, red 15%, orange 29%, yellow 43%, green 57%, blue 71%, indigo 85%, violet 100%);
    font-style: bold;
    font-size: 1.1rem;
    width: 15%;
    height: 50%;
    border: 1px solid grey;
    border-radius: 10%;
}